# Import and Clean Matches data

In [1]:
import pandas as pd
matches = pd.read_json("DataSet\\matches\\matches_England.json")
matches = matches[["status", "gameweek", "winner", "label" ]] # fetch necessary columns
matches = matches[matches.status =="Played"] # be sure that all matches are played
del matches["status"] # we don't need status anymore
matches = matches.sort_values(by=["gameweek"]) #sort the rows according to game week
matches.index = range(len(matches.index)) #fix the indices
matches

     gameweek  winner                                              label
0           1    1609                    Arsenal - Leicester City, 4 - 3
1           1    1611         Manchester United - West Ham United, 4 - 0
2           1    1624        Newcastle United - Tottenham Hotspur, 0 - 2
3           1    1625    Brighton & Hove Albion - Manchester City, 0 - 2
4           1    1646                           Chelsea - Burnley, 2 - 3
5           1       0                         Watford - Liverpool, 3 - 3
6           1    1623                        Everton - Stoke City, 1 - 0
7           1       0                  Southampton - Swansea City, 0 - 0
8           1    1627      West Bromwich Albion - AFC Bournemouth, 1 - 0
9           1    1673          Crystal Palace - Huddersfield Town, 0 - 3
10          2       0                   Manchester City - Everton, 1 - 1
11          2    1610                 Tottenham Hotspur - Chelsea, 1 - 2
12          2    1673        Huddersfield Town - Newcastle United, 1 - 0
13          2    1639                        Stoke City - Arsenal, 1 - 0
14          2    1644                   AFC Bournemouth - Watford, 0 - 2
15          2    1627              Burnley - West Bromwich Albion, 0 - 1
16          2    1631     Leicester City - Brighton & Hove Albion, 2 - 0
17          2    1612                  Liverpool - Crystal Palace, 1 - 0
18          2    1619               Southampton - West Ham United, 3 - 2
19          2    1611            Swansea City - Manchester United, 0 - 4
20          3    1612                         Liverpool - Arsenal, 4 - 0
21          3       0                 Tottenham Hotspur - Burnley, 1 - 1
22          3    1610                           Chelsea - Everton, 2 - 0
23          3       0           West Bromwich Albion - Stoke City, 1 - 1
24          3    1625           AFC Bournemouth - Manchester City, 1 - 2
25          3   10531               Crystal Palace - Swansea City, 0 - 2
26          3       0             Huddersfield Town - Southampton, 0 - 0
27          3    1613          Newcastle United - West Ham United, 3 - 0
28          3       0            Watford - Brighton & Hove Albion, 0 - 0
29          3    1611          Manchester United - Leicester City, 2 - 0
..        ...     ...                                                ...
350        36    1624                 Tottenham Hotspur - Watford, 2 - 0
351        36    1623                 Huddersfield Town - Everton, 0 - 2
352        36    1625           West Ham United - Manchester City, 1 - 4
353        36    1610                      Swansea City - Chelsea, 0 - 1
354        36       0            Burnley - Brighton & Hove Albion, 0 - 0
355        36    1628             Crystal Palace - Leicester City, 5 - 0
356        36    1627     Newcastle United - West Bromwich Albion, 0 - 1
357        36    1619               Southampton - AFC Bournemouth, 2 - 1
358        36       0                      Liverpool - Stoke City, 0 - 0
359        36    1611                 Manchester United - Arsenal, 2 - 1
360        37    1609                           Arsenal - Burnley, 5 - 0
361        37    1627    West Bromwich Albion - Tottenham Hotspur, 1 - 0
362        37       0         Manchester City - Huddersfield Town, 0 - 0
363        37       0                       Everton - Southampton, 1 - 1
364        37    1659              AFC Bournemouth - Swansea City, 1 - 0
365        37    1633            Leicester City - West Ham United, 0 - 2
366        37    1644                  Watford - Newcastle United, 2 - 1
367        37    1628                 Stoke City - Crystal Palace, 1 - 2
368        37    1651  Brighton & Hove Albion - Manchester United, 1 - 0
369        37    1610                         Chelsea - Liverpool, 1 - 0
370        38    1628       Crystal Palace - West Bromwich Albion, 2 - 0
371        38    1609                 Huddersfield Town - Arsenal, 0 - 1
372        38    1612          Liverpool - Brighton & Hove Albion, 4 - 0
373        38    1611                 Manchester United - Watford, 1 - 0
374        38    1624          Tottenham Hotspur - Leicester City, 5 - 4
375        38    1625               Southampton - Manchester City, 0 - 1
376        38    1639                   Swansea City - Stoke City, 1 - 2
377        38    1633                   West Ham United - Everton, 3 - 1
378        38    1613                  Newcastle United - Chelsea, 3 - 0
379        38    1659                   Burnley - AFC Bournemouth, 1 - 2

[380 rows x 3 columns]

# Import and Clean Teams data

In [2]:
teams = pd.read_json("DataSet\\teams.json")
teams = teams[teams.type =="club"] # we don't want national teams
teams = teams[["name", "area", "wyId"]] # we don't need the other colums
teams

,name,area,wyId
0,Newcastle United,"{'name': 'England', 'id': '0', 'alpha3code': '...",1613
1,Celta de Vigo,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",692
2,Espanyol,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",691
3,Deportivo Alav\u00e9s,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",696
4,Levante,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",695
5,Troyes,"{'name': 'France', 'id': '250', 'alpha3code': ...",3795
6,Getafe,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",698
7,Borussia M'gladbach,"{'name': 'Germany', 'id': '276', 'alpha3code':...",2454
8,Huddersfield Town,"{'name': 'England', 'id': '0', 'alpha3code': '...",1673
9,Athletic Club,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",678
10,Atl\u00e9tico Madrid,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",679
11,Olympique Lyonnais,"{'name': 'France', 'id': '250', 'alpha3code': ...",3766
12,PSG,"{'name': 'France', 'id': '250', 'alpha3code': ...",3767
13,Valencia,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",674
14,Real Madrid,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",675
15,Barcelona,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",676
16,Las Palmas,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",714
17,Legan\u00e9s,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",712
18,SPAL,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",3204
19,Swansea City,"{'name': 'Wales', 'id': '0', 'alpha3code': 'XW...",10531
20,Olympique Marseille,"{'name': 'France', 'id': '250', 'alpha3code': ...",3771
21,Nantes,"{'name': 'France', 'id': '250', 'alpha3code': ...",3770
22,Nice,"{'name': 'France', 'id': '250', 'alpha3code': ...",3775
23,Rennes,"{'name': 'France', 'id': '250', 'alpha3code': ...",3774
24,Strasbourg,"{'name': 'France', 'id': '250', 'alpha3code': ...",3779
25,Eibar,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",701
26,AFC Bournemouth,"{'name': 'England', 'id': '0', 'alpha3code': '...",1659
27,Brighton & Hove Albion,"{'name': 'England', 'id': '0', 'alpha3code': '...",1651
28,Werder Bremen,"{'name': 'Germany', 'id': '276', 'alpha3code':...",2443
29,Bayer Leverkusen,"{'name': 'Germany', 'id': '276', 'alpha3code':...",2446
...,...,...,...
68,Tottenham Hotspur,"{'name': 'England', 'id': '0', 'alpha3code': '...",1624
69,Augsburg,"{'name': 'Germany', 'id': '276', 'alpha3code':...",2481
70,Crystal Palace,"{'name': 'England', 'id': '0', 'alpha3code': '...",1628
71,Monaco,"{'name': 'Monaco', 'id': '492', 'alpha3code': ...",19830
72,Mainz 05,"{'name': 'Germany', 'id': '276', 'alpha3code':...",2460
73,Lille,"{'name': 'France', 'id': '250', 'alpha3code': ...",3776
74,Eintracht Frankfurt,"{'name': 'Germany', 'id': '276', 'alpha3code':...",2462
75,Southampton,"{'name': 'England', 'id': '0', 'alpha3code': '...",1619
76,K\u00f6ln,"{'name': 'Germany', 'id': '276', 'alpha3code':...",2463
77,Liverpool,"{'name': 'England', 'id': '0', 'alpha3code': '...",1612
78,Chelsea,"{'name': 'England', 'id': '0', 'alpha3code': '...",1610
79,Manchester United,"{'name': 'England', 'id': '0', 'alpha3code': '...",1611
80,Torino,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",3185
81,Napoli,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",3187
82,Deportivo La Coru\u00f1a,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",677
83,RB Leipzig,"{'name': 'Germany', 'id': '276', 'alpha3code':...",2975
84,Arsenal,"{'name': 'England', 'id': '0', 'alpha3code': '...",1609
85,Caen,"{'name': 'France', 'id': '250', 'alpha3code': ...",3783
86,Toulouse,"{'name': 'France', 'id': '250', 'alpha3code': ...",3780
87,Montpellier,"{'name': 'France', 'id': '250', 'alpha3code': ...",3787
88,Guingamp,"{'name': 'France', 'id': '250', 'alpha3code': ...",3785
89,Amiens SC,"{'name': 'France', 'id': '250', 'alpha3code': ...",3789
90,Crotone,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",3197
91,Hellas Verona,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",3194
92,Genoa,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",3193
93,Real Betis,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",684
94,Real Sociedad,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",687
95,Sevilla,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",680
96,M\u00e1laga,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",683
97,Villarreal,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",682

## Create a DataFrame called premier league and add only the teams in England and Wales

In [3]:
premier_league = pd.DataFrame(columns=["name", "area", "wyId"])
for i in range(len(teams)):
    country = teams.iloc[i,:][1]["name"]
    if country == "England" or country == "Wales":
        premier_league = premier_league.append(teams.iloc[i,:])

premier_league.index = range(len(premier_league.index)) #fix the indices
del premier_league["area"] # we don't need area anymore
premier_league

                      name   wyId
0         Newcastle United   1613
1        Huddersfield Town   1673
2             Swansea City  10531
3          AFC Bournemouth   1659
4   Brighton & Hove Albion   1651
5                  Burnley   1646
6           Leicester City   1631
7          West Ham United   1633
8               Stoke City   1639
9                  Watford   1644
10                 Everton   1623
11    West Bromwich Albion   1627
12         Manchester City   1625
13       Tottenham Hotspur   1624
14          Crystal Palace   1628
15             Southampton   1619
16               Liverpool   1612
17                 Chelsea   1610
18       Manchester United   1611
19                 Arsenal   1609

### create new columns called home and away to split the label string

In [4]:
home = []
away = []
for i in range(len(matches)):
    string = matches.iloc[i,:][2]
    game = string.split(",")[0].split("-")
    home.append(game[0])
    away.append(game[1])
matches["home"] = home
matches["away"] = away
del matches["label"] # we don't need label anymore
matches

     gameweek  winner                     home                     away
0           1    1609                 Arsenal            Leicester City
1           1    1611       Manchester United           West Ham United
2           1    1624        Newcastle United         Tottenham Hotspur
3           1    1625  Brighton & Hove Albion           Manchester City
4           1    1646                 Chelsea                   Burnley
5           1       0                 Watford                 Liverpool
6           1    1623                 Everton                Stoke City
7           1       0             Southampton              Swansea City
8           1    1627    West Bromwich Albion           AFC Bournemouth
9           1    1673          Crystal Palace         Huddersfield Town
10          2       0         Manchester City                   Everton
11          2    1610       Tottenham Hotspur                   Chelsea
12          2    1673       Huddersfield Town          Newcastle United
13          2    1639              Stoke City                   Arsenal
14          2    1644         AFC Bournemouth                   Watford
15          2    1627                 Burnley      West Bromwich Albion
16          2    1631          Leicester City    Brighton & Hove Albion
17          2    1612               Liverpool            Crystal Palace
18          2    1619             Southampton           West Ham United
19          2    1611            Swansea City         Manchester United
20          3    1612               Liverpool                   Arsenal
21          3       0       Tottenham Hotspur                   Burnley
22          3    1610                 Chelsea                   Everton
23          3       0    West Bromwich Albion                Stoke City
24          3    1625         AFC Bournemouth           Manchester City
25          3   10531          Crystal Palace              Swansea City
26          3       0       Huddersfield Town               Southampton
27          3    1613        Newcastle United           West Ham United
28          3       0                 Watford    Brighton & Hove Albion
29          3    1611       Manchester United            Leicester City
..        ...     ...                      ...                      ...
350        36    1624       Tottenham Hotspur                   Watford
351        36    1623       Huddersfield Town                   Everton
352        36    1625         West Ham United           Manchester City
353        36    1610            Swansea City                   Chelsea
354        36       0                 Burnley    Brighton & Hove Albion
355        36    1628          Crystal Palace            Leicester City
356        36    1627        Newcastle United      West Bromwich Albion
357        36    1619             Southampton           AFC Bournemouth
358        36       0               Liverpool                Stoke City
359        36    1611       Manchester United                   Arsenal
360        37    1609                 Arsenal                   Burnley
361        37    1627    West Bromwich Albion         Tottenham Hotspur
362        37       0         Manchester City         Huddersfield Town
363        37       0                 Everton               Southampton
364        37    1659         AFC Bournemouth              Swansea City
365        37    1633          Leicester City           West Ham United
366        37    1644                 Watford          Newcastle United
367        37    1628              Stoke City            Crystal Palace
368        37    1651  Brighton & Hove Albion         Manchester United
369        37    1610                 Chelsea                 Liverpool
370        38    1628          Crystal Palace      West Bromwich Albion
371        38    1609       Huddersfield Town                   Arsenal
372        38    1612               Liverpool    Brighton & Hove Albion
373        38    1611       Manchester United                   Watford
374        38    1624       Tottenham Hotspur            Leicester City
375        38    1625             Southampton           Manchester City
376        38    1639            Swansea City                Stoke City
377        38    1633         West Ham United                   Everton
378        38    1613        Newcastle United                   Chelsea
379        38    1659                 Burnley           AFC Bournemouth

[380 rows x 4 columns]

for each team in premier league, a 2D array should be created to perform the chi^2 test.
in this manner the 2*3 sized array rows would be home and away matches. On the other hand
the columns would be the number of  win, draw and loose respectively matches. The for loop bellow forms such
2D arrays for each team in premier league.

In [5]:
all_contingency_tables = []
for i in range(len(premier_league)):
    team = premier_league.iloc[i,0]
    wyıd = premier_league.iloc[i,1]
    home_games = matches[matches["home"] == team + " "]
    away_games = matches[matches["away"] == " " + team]

    home_wins = len(home_games[home_games.winner == wyıd])
    home_draws = len(home_games[home_games.winner == 0])
    home_loses = len(home_games[home_games.winner != wyıd]) - home_draws

    away_wins = len(away_games[away_games.winner == wyıd])
    away_draws = len(away_games[away_games.winner == 0])
    away_loses = len(away_games[away_games.winner != wyıd]) - away_draws

    all_contingency_tables.append([[home_wins, home_draws, home_loses],
                                   [away_wins, away_draws, away_loses]])

premier_league["contingency_tables"] = all_contingency_tables

premier_league

                      name   wyId        contingency_tables
0         Newcastle United   1613   [[8, 4, 7], [4, 4, 11]]
1        Huddersfield Town   1673   [[6, 5, 8], [3, 5, 11]]
2             Swansea City  10531  [[6, 3, 10], [2, 6, 11]]
3          AFC Bournemouth   1659    [[7, 5, 7], [4, 6, 9]]
4   Brighton & Hove Albion   1651   [[7, 8, 4], [2, 6, 11]]
5                  Burnley   1646    [[7, 5, 7], [7, 7, 5]]
6           Leicester City   1631    [[7, 6, 6], [5, 5, 9]]
7          West Ham United   1633   [[7, 6, 6], [3, 6, 10]]
8               Stoke City   1639   [[5, 5, 9], [2, 7, 10]]
9                  Watford   1644   [[6, 7, 6], [4, 2, 13]]
10                 Everton   1623    [[9, 5, 5], [3, 7, 9]]
11    West Bromwich Albion   1627   [[3, 9, 7], [3, 4, 12]]
12         Manchester City   1625  [[16, 2, 1], [16, 2, 1]]
13       Tottenham Hotspur   1624  [[13, 4, 2], [10, 4, 5]]
14          Crystal Palace   1628    [[7, 5, 7], [4, 6, 9]]
15             Southampton   1619    [[4, 7, 8], [3, 8, 8]]
16               Liverpool   1612   [[12, 7, 0], [9, 5, 5]]
17                 Chelsea   1610  [[11, 4, 4], [10, 3, 6]]
18       Manchester United   1611  [[15, 2, 2], [10, 4, 5]]
19                 Arsenal   1609  [[15, 2, 2], [4, 4, 11]]

# CHI^2 TEST

For premier league teams, does the result of the match (win, draw or loose) depends on pitch (home or away)?

H0 = The result of the match dosn't depend on playing at home or away. The variables are independent.

The Chi^2 test is applied to all teams in Premier league and their p values are added to premier_league
dataframe.

In [6]:
from scipy.stats import chi2_contingency
p_values =[]
for i in range(len(premier_league)):
    # contingency table
    table = all_contingency_tables[i]
    stat, p, dof, expected = chi2_contingency(table)
    p_values.append(p)

premier_league["P-Values"] = p_values

premier_league

                      name   wyId        contingency_tables  P-Values
0         Newcastle United   1613   [[8, 4, 7], [4, 4, 11]]  0.329193
1        Huddersfield Town   1673   [[6, 5, 8], [3, 5, 11]]  0.478623
2             Swansea City  10531  [[6, 3, 10], [2, 6, 11]]  0.217880
3          AFC Bournemouth   1659    [[7, 5, 7], [4, 6, 9]]  0.560153
4   Brighton & Hove Albion   1651   [[7, 8, 4], [2, 6, 11]]  0.042211
5                  Burnley   1646    [[7, 5, 7], [7, 7, 5]]  0.716531
6           Leicester City   1631    [[7, 6, 6], [5, 5, 9]]  0.599223
7          West Ham United   1633   [[7, 6, 6], [3, 6, 10]]  0.272532
8               Stoke City   1639   [[5, 5, 9], [2, 7, 10]]  0.433510
9                  Watford   1644   [[6, 7, 6], [4, 2, 13]]  0.056227
10                 Everton   1623    [[9, 5, 5], [3, 7, 9]]  0.106661
11    West Bromwich Albion   1627   [[3, 9, 7], [3, 4, 12]]  0.198011
12         Manchester City   1625  [[16, 2, 1], [16, 2, 1]]  1.000000
13       Tottenham Hotspur   1624  [[13, 4, 2], [10, 4, 5]]  0.432355
14          Crystal Palace   1628    [[7, 5, 7], [4, 6, 9]]  0.560153
15             Southampton   1619    [[4, 7, 8], [3, 8, 8]]  0.900539
16               Liverpool   1612   [[12, 7, 0], [9, 5, 5]]  0.056081
17                 Chelsea   1610  [[11, 4, 4], [10, 3, 6]]  0.744354
18       Manchester United   1611  [[15, 2, 2], [10, 4, 5]]  0.228507
19                 Arsenal   1609  [[15, 2, 2], [4, 4, 11]]  0.001316

In [7]:
# The teams having home field advantage when confidence interval is 95%
confidence95 = premier_league[premier_league["P-Values"] <= (1-0.95)]
confidence95

                      name  wyId        contingency_tables  P-Values
4   Brighton & Hove Albion  1651   [[7, 8, 4], [2, 6, 11]]  0.042211
19                 Arsenal  1609  [[15, 2, 2], [4, 4, 11]]  0.001316

In [8]:
# The teams having home field advantage when confidence interval is 90%
confidence90 = premier_league[premier_league["P-Values"] <= (1-0.90)]
confidence90

                      name  wyId        contingency_tables  P-Values
4   Brighton & Hove Albion  1651   [[7, 8, 4], [2, 6, 11]]  0.042211
9                  Watford  1644   [[6, 7, 6], [4, 2, 13]]  0.056227
16               Liverpool  1612   [[12, 7, 0], [9, 5, 5]]  0.056081
19                 Arsenal  1609  [[15, 2, 2], [4, 4, 11]]  0.001316

In [9]:
# The teams having home field advantage when confidence interval is 80%
confidence80 = premier_league[premier_league["P-Values"] <= (1-0.80)]
confidence80

                      name  wyId        contingency_tables  P-Values
4   Brighton & Hove Albion  1651   [[7, 8, 4], [2, 6, 11]]  0.042211
9                  Watford  1644   [[6, 7, 6], [4, 2, 13]]  0.056227
10                 Everton  1623    [[9, 5, 5], [3, 7, 9]]  0.106661
11    West Bromwich Albion  1627   [[3, 9, 7], [3, 4, 12]]  0.198011
16               Liverpool  1612   [[12, 7, 0], [9, 5, 5]]  0.056081
19                 Arsenal  1609  [[15, 2, 2], [4, 4, 11]]  0.001316

Here we can claim that Arsenal is the team having the most Home field advantage.
The performans of the Arsenal team really depends on playing home field.
On the other hand, there is absolutely no home field advantage for Manchester City.
They are already unbeatable so playing in home field or not doesn't effect their performance.

Now lets apply the chi^2 test to first 5 contingency tables to see if there is a home field advantage.

In [10]:
import numpy as np
total = np.zeros((2,3))
for i in all_contingency_tables[:5]:
    total=np.sum([i, total], axis=0)
stat, p, dof, expected = chi2_contingency(total)
total
print("stat = "+ str(stat), "p-value ="+ str(p))

stat = 10.691461026934542 p-value =0.004768466503684661

as seen when we increase the size of the data, the chi^2 test becomes more precise and returns lower p-values. Which shows that on there is home field advantage overall in premier league and the variables are dependent.

Finally, Lets apply chi^2 test to 5 random teams 50 times to see number of times the H0 is rejected for different cases.

In [11]:
fail =0
reject =0
import random
for k in range(50):
    random.seed(k)
    total = np.zeros((2,3))
    for i in np.random.choice(20, 5):
        total=np.sum([all_contingency_tables[i], total], axis=0)
    stat, p, dof, expected = chi2_contingency(total)
    print("stat = "+ str(stat), "p-value ="+ str(p))
    if p>(1-0.95):
        print("Fail to reject H0")
        fail+=1
    else:
        print("reject H0")
        reject+=1
print("reject = "+str(reject), "fail= "+str(fail))

stat = 7.136612021857924 p-value =0.028203589809545595
reject H0
stat = 9.526723410781383 p-value =0.008536862688267987
reject H0
stat = 12.44789859677447 p-value =0.0019814045870218196
reject H0
stat = 8.48063973063973 p-value =0.014402984091108297
reject H0
stat = 12.147550326316757 p-value =0.0023024646031945713
reject H0
stat = 2.88336728943604 p-value =0.2365291921290503
Fail to reject H0
stat = 2.2271287747000312 p-value =0.3283863762978818
Fail to reject H0
stat = 3.0912911431172208 p-value =0.21317420758638506
Fail to reject H0
stat = 6.543859649122807 p-value =0.03793315206541126
reject H0
stat = 3.7723242584649834 p-value =0.1516527169273607
Fail to reject H0
stat = 8.904950605570129 p-value =0.011649694729559122
reject H0
stat = 1.2213064891125907 p-value =0.5429960439835159
Fail to reject H0
stat = 3.9109848484848486 p-value =0.1414947840745197
Fail to reject H0
stat = 3.323136123136123 p-value =0.1898410641105843
Fail to reject H0
stat = 4.869281045751634 p-value =0.08762924209478665
Fail to reject H0
stat = 6.981532078526614 p-value =0.030477516252486778
reject H0
stat = 4.569251573308368 p-value =0.10181215444546811
Fail to reject H0
stat = 6.440400736045799 p-value =0.039947053346616565
reject H0
stat = 4.373591299120075 p-value =0.11227594428705359
Fail to reject H0
stat = 10.63157894736842 p-value =0.004913398225161662
reject H0
stat = 11.213390619405658 p-value =0.003673188071383467
reject H0
stat = 9.936244506908428 p-value =0.006956197755184606
reject H0
stat = 5.394478035987469 p-value =0.06739132234159383
Fail to reject H0
stat = 3.337647058823529 p-value =0.18846866310068144
Fail to reject H0
stat = 4.775721393034826 p-value =0.09182591740602734
Fail to reject H0
stat = 4.872727272727273 p-value =0.08747837698198908
Fail to reject H0
stat = 27.29011040638948 p-value =1.185844708441694e-06
reject H0
stat = 4.111453315433415 p-value =0.12799978974043663
Fail to reject H0
stat = 9.604395604395604 p-value =0.008211679554530558
reject H0
stat = 9.675318761384336 p-value =0.007925583131276209
reject H0
stat = 11.12826963393001 p-value =0.0038328952670774194
reject H0
stat = 6.684201874075292 p-value =0.03536258505811783
reject H0
stat = 14.073260073260073 p-value =0.000879084057206389
reject H0
stat = 11.585691094619666 p-value =0.003049292912187087
reject H0
stat = 8.983892294746965 p-value =0.011198828018368254
reject H0
stat = 9.174345076784101 p-value =0.010181605812619938
reject H0
stat = 7.429715548191108 p-value =0.024358905336009592
reject H0
stat = 14.868181818181817 p-value =0.0005907657926164398
reject H0
stat = 4.813586912287365 p-value =0.09010375348417822
Fail to reject H0
stat = 7.834983062050732 p-value =0.0198909279914054
reject H0
stat = 11.933333333333334 p-value =0.002562769763066484
reject H0
stat = 6.350783325354584 p-value =0.04177773809940106
reject H0
stat = 7.246153846153847 p-value =0.02670039490924401
reject H0
stat = 3.1663574520717375 p-value =0.20532139931275373
Fail to reject H0
stat = 20.96638951877047 p-value =2.8003116248705336e-05
reject H0
stat = 3.1497126726484526 p-value =0.20703729428342663
Fail to reject H0
stat = 1.360482342807924 p-value =0.506494825566431
Fail to reject H0
stat = 5.095095095095095 p-value =0.07827339257849132
Fail to reject H0
stat = 4.54449072939639 p-value =0.10308046679881402
Fail to reject H0
stat = 15.686038778771 p-value =0.00039248219321128994
reject H0
reject = 29 fail= 21