In [13]:
import pandas as pd 

teams = pd.read_json('C:\\Users\\Gabriele\\Desktop\\datasets\\teams.json')

for i in range(len(teams)):    
# drop national team
    if teams.loc[i, 'type'] != 'club':
        teams = teams.drop(i)         
# drop non premier's teams (swansea is in wales)
    elif teams.loc[i, 'area']['name'] != 'Italy':   
        teams = teams.drop(i)
teams = teams.reset_index(drop=True)
teams

,area,city,name,officialName,type,wyId
0,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",Ferrara,SPAL,Societ\u00e0 Polisportiva Ars et Labor 2013,club,3204
1,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",Milano,Milan,AC Milan,club,3157
2,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",Torino,Juventus,Juventus FC,club,3159
3,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",Roma,Roma,AS Roma,club,3158
4,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",Sassuolo,Sassuolo,US Sassuolo Calcio,club,3315
5,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",Bologna,Bologna,Bologna FC 1909,club,3166
6,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",Genova,Sampdoria,UC Sampdoria,club,3164
7,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",Verona,Chievo,AC Chievo Verona,club,3165
8,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",Formello,Lazio,SS Lazio,club,3162
9,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",Udine,Udinese,Udinese Calcio,club,3163
10,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",Milano,Internazionale,FC Internazionale Milano,club,3161
11,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",Benevento,Benevento,Benevento Calcio,club,3219
12,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",Cagliari,Cagliari,Cagliari Calcio,club,3173
13,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",Ciserano,Atalanta,Atalanta Bergamasca Calcio,club,3172
14,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",Firenze,Fiorentina,ACF Fiorentina,club,3176
15,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",Torino,Torino,Torino FC,club,3185
16,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",Castel Volturno,Napoli,SSC Napoli,club,3187
17,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",Crotone,Crotone,FC Crotone,club,3197
18,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",Verona,Hellas Verona,Hellas Verona FC,club,3194
19,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",Genova,Genoa,Genoa CFC,club,3193

In [16]:
players = pd.read_json('C:\\Users\\Gabriele\\Desktop\\datasets\\players.json')

teamsId = list(teams['wyId'])
# drop non premier league's players
for i in range(len(players)):  
    if players.loc[i, 'currentTeamId'] not in teamsId:
        players = players.drop(i)

players = players.reset_index(drop=True)
players

,birthArea,birthDate,currentNationalTeamId,currentTeamId,firstName,foot,height,lastName,middleName,passportArea,role,shortName,weight,wyId
0,"{'name': 'Iraq', 'id': '368', 'alpha3code': 'I...",1993-12-19,17759,3163,Ali Adnan Kadhim,left,186,Al Tameemi,,"{'name': 'Iraq', 'id': '368', 'alpha3code': 'I...","{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...",Ali Adnan,78,131184
1,"{'name': 'Netherlands', 'id': '528', 'alpha3co...",1990-02-13,null,3158,Kevin,left,186,Strootman,,"{'name': 'Netherlands', 'id': '528', 'alpha3co...","{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...",K. Strootman,78,114
2,"{'name': 'Belgium', 'id': '56', 'alpha3code': ...",1987-05-06,5629,3187,Dries,right,169,Mertens,,"{'name': 'Belgium', 'id': '56', 'alpha3code': ...","{'code2': 'FW', 'code3': 'FWD', 'name': 'Forwa...",D. Mertens,61,122
3,"{'name': 'Netherlands', 'id': '528', 'alpha3co...",1992-02-05,null,3162,Stefan,right,189,de Vrij,,"{'name': 'Netherlands', 'id': '528', 'alpha3co...","{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...",S. de Vrij,78,130
4,"{'name': 'Serbia', 'id': '688', 'alpha3code': ...",1992-01-30,null,3219,Filip,right,181,\u0110uri\u010di\u0107,,"{'name': 'Serbia', 'id': '688', 'alpha3code': ...","{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...",F. \u0110uri\u010di\u0107,72,174
5,"{'name': 'Serbia', 'id': '688', 'alpha3code': ...",1988-06-10,null,3194,Jago\u0161,left,195,Vukovi\u0107,,"{'name': 'Serbia', 'id': '688', 'alpha3code': ...","{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...",J. Vukovi\u0107,93,192
6,"{'name': 'Germany', 'id': '276', 'alpha3code':...",1994-06-05,null,3172,Robin,left,183,Gosens,,"{'name': 'Netherlands', 'id': '528', 'alpha3co...","{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...",R. Gosens,76,295176
7,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",1999-01-04,null,3163,Davide,left,180,Borsellini,,"{'name': 'Italy', 'id': '380', 'alpha3code': '...","{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...",D. Borsellini,69,393566
8,"{'name': 'Ghana', 'id': '288', 'alpha3code': '...",1996-06-07,17527,3166,Godfred,right,175,Donsah,,"{'name': 'Ghana', 'id': '288', 'alpha3code': '...","{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...",G. Donsah,70,295273
9,"{'name': 'Netherlands', 'id': '528', 'alpha3co...",1990-05-04,null,3163,Bram,left,190,Nuytinck,,"{'name': 'Netherlands', 'id': '528', 'alpha3co...","{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...",B. Nuytinck,80,394
10,"{'name': 'Netherlands', 'id': '528', 'alpha3co...",1991-03-29,null,3172,Marten,right,185,de Roon,,"{'name': 'Netherlands', 'id': '528', 'alpha3co...","{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...",M. de Roon,76,625
11,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",1996-06-19,3757,3158,Lorenzo,right,186,Pellegrini,,"{'name': 'Italy', 'id': '380', 'alpha3code': '...","{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...",L. Pellegrini,77,328333
12,"{'name': 'France', 'id': '250', 'alpha3code': ...",1996-02-15,null,3194,Mohamed Salim,left,183,Fares,,"{'name': 'Algeria', 'id': '12', 'alpha3code': ...","{'code2': 'FW', 'code3': 'FWD', 'name': 'Forwa...",M. Fares,75,328336
13,"{'name': 'Poland', 'id': '616', 'alpha3code': ...",1991-05-05,null,3158,\u0141ukasz,right,190,Skorupski,,"{'name': 'Poland', 'id': '616', 'alpha3code': ...","{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...",\u0141. Skorupski,83,99430
14,"{'name': 'Poland', 'id': '616', 'alpha3code': ...",1994-02-28,13869,3187,Arkadiusz,left,186,Milik,,"{'name': 'Poland', 'id': '616', 'alpha3code': ...","{'code2': 'FW', 'code3': 'FWD', 'name': 'Forwa...",A. Milik,78,99452
15,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",1981-03-25,null,3315,Gianluca,left,183,Pegolo,,"{'name': 'Italy', 'id': '380', 'alpha3code': '...","{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...",G. Pegolo,76,20771
16,"{'name': 'Poland', 'id': '616', 'alpha3code': ...",1995-05-12,null,3165,Mariusz,right,183,St\u0119pi\u0144ski,,"{'name': 'Poland', 'id': '616', 'alpha3code': ...","{'code2': 'FW', 'code3': 'FWD', 'name': 'Forwa...",M. St\u0119pi\u0144ski,72,99511
17,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",1994-08-03,null,3204,Francesco,right,190,Vicari,,"{'name': 'Italy', 'id': '380', 'alpha3code': '...","{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...",F. Vicari,80,263432
18,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",1994-07-01,null,3194,Alex,right,183,Ferrari,,"{'name': 'Italy', 'id': '380', 'alpha3code': '...","{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...",A. Ferrari,70,263433
19,"{'name': 'France', 'id': '250', 'alpha3code': ...",1996-04-16,19001,3166,Cheick,left,182,Keita,,"{'name': 'Mali', 'id': '466', 'alpha3code': 'M...","{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...",C. Keita,76,361779
20,"{'name': 'Brazil', 'id': '76', 'alpha3code': '...",1986-04-21,13869,3204,Thiago,right,183,Rangel Cionek,,"{'name': 'Poland', 'id': '616', 'alpha3code': ...","{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...",T. Cionek,80,99661
21,"{'name': 'Uruguay', 'id': '858', 'alpha3code':...",1997-06-25,15670,3159,Rodrigo,right,185,Bentancur Colm\u00e1n,,"{'name': 'Uruguay', 'id': '858', 'alpha3code':...","{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...",R. Bentancur,73,361807
22,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",1995-08-01,null,3173,Alessandro,right,190,Deiola,,"{'name': 'Italy', 'id': '380', 'alpha3code': '...","{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...",A. Deiola,85,263591
23,"{'name': 'Poland', 'id': '616', 'alpha3code': ...",1992-07-12,13869,3164,Bartosz,right,183,Bereszy\u0144ski,,"{'name': 'Poland', 'id': '616', 'alpha3code': ...","{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...",B. Bereszy\u0144ski,77,99833
24,"{'name': 'Poland', 'id': '616', 'alpha3code': ...",1994-05-20,13869,3187,Piotr,right,180,Zieli\u0144ski,,"{'name': 'Poland', 'id': '616', 'alpha3code': ...","{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...",P. Zieli\u0144ski,75,99902
25,"{'name': 'Belgium', 'id': '56', 'alpha3code': ...",1995-12-05,null,3172,Timothy,right,185,Castagne,,"{'name': 'Belgium', 'id': '56', 'alpha3code': ...","{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...",T. Castagne,80,263803
26,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",1995-03-18,null,3172,Pierluigi,right,188,Gollini,,"{'name': 'Italy', 'id': '380', 'alpha3code': '...","{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...",P. Gollini,80,264084
27,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",1996-10-20,null,3194,Enrico,right,180,Bearzotti,,"{'name': 'Italy', 'id': '380', 'alpha3code': '...","{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...",E. Bearzotti,70,388099
28,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",1985-12-01,null,3164,Emiliano,left,195,Viviano,,"{'name': 'Italy', 'id': '380', 'alpha3code': '...","{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...",E. Viviano,90,20802
29,"{'name': 'Greece', 'id': '300', 'alpha3code': ...",1995-03-19,null,3162,Thomas,right,186,Strakosha,,"{'name': 'Albania', 'id': '8', 'alpha3code': '...","{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...",T. Strakosha,78,166534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,"{'name': 'Colombia', 'id': 170, 'alpha3code': ...",1988-08-31,12430,3187,David,right,183,Ospina Ram\u00edrez,,"{'name': 'Colombia', 'id': 170, 'alpha3code': ...","{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...",D. Ospina,76,25662
491,"{'name': 'Ecuador', 'id': 218, 'alpha3code': '...",1999-02-07,null,3185,Erick Steven,right,188,Ferigra Burnham,,"{'name': 'Spain', 'id': 724, 'alpha3code': 'ES...","{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...",E. Ferigra,80,471124
492,"{'name': 'Italy', 'id': 380, 'alpha3code': 'IT...",1999-08-18,null,3219,Luca,left,0,Sparandeo,,"{'name': 'Italy', 'id': 380, 'alpha3code': 'IT...","{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...",L. Sparandeo,0,360778
493,"{'name': 'Guinea', 'id': 324, 'alpha3code': 'G...",1988-11-14,null,3194,Karamoko,right,184,Ciss\u00e9,,"{'name': 'Italy', 'id': 380, 'alpha3code': 'IT...","{'code2': 'FW', 'code3': 'FWD', 'name': 'Forwa...",K. Ciss\u00e9,78,21235
494,"{'name': 'Italy', 'id': 380, 'alpha3code': 'IT...",1991-03-07,null,3165,Michele,right,185,Rigione,,"{'name': 'Italy', 'id': 380, 'alpha3code': 'IT...","{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...",M. Rigione,82,21730
495,"{'name': 'France', 'id': 250, 'alpha3code': 'F...",1991-02-21,19001,3163,Molla,right,191,Wagu\u00e9,,"{'name': 'Mali', 'id': 466, 'alpha3code': 'MLI...","{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...",M. Wagu\u00e9,87,25885
496,"{'name': 'Italy', 'id': 380, 'alpha3code': 'IT...",1993-01-12,null,3219,Gianluca,left,184,Di Chiara,,"{'name': 'Italy', 'id': 380, 'alpha3code': 'IT...","{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...",G. Di Chiara,81,21578
497,"{'name': 'Sweden', 'id': 752, 'alpha3code': 'S...",1995-01-11,null,3194,Samuel,right,186,Gustafson,,"{'name': 'Sweden', 'id': 752, 'alpha3code': 'S...","{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...",S. Gustafson,79,252473
498,"{'name': 'Venezuela', 'id': 862, 'alpha3code':...",1995-10-18,null,3197,Hermes Arist\u00f3teles,right,186,Romero,,"{'name': 'Venezuela', 'id': 862, 'alpha3code':...","{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...",A. Romero,83,293198
499,"{'name': 'France', 'id': 250, 'alpha3code': 'F...",1997-02-15,null,3164,Maxime,right,188,Leverbe,,"{'name': 'France', 'id': 250, 'alpha3code': 'F...","{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...",M. Leverbe,76,298021
500,"{'name': 'Nigeria', 'id': 566, 'alpha3code': '...",1997-08-17,null,3158,Nura,right,180,Abdullahi,,"{'name': 'Nigeria', 'id': 566, 'alpha3code': '...","{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...",N. Abdullahi,72,350991
501,"{'name': 'Slovakia', 'id': 703, 'alpha3code': ...",1998-03-27,14501,3194,\u013dubom\u00edr,right,178,Tupta,,"{'name': 'Slovakia', 'id': 703, 'alpha3code': ...","{'code2': 'FW', 'code3': 'FWD', 'name': 'Forwa...",\u013d. Tupta,70,352722
502,"{'name': 'Montenegro', 'id': 499, 'alpha3code'...",1999-10-22,null,3164,Ognjen,left,185,Stijepovi\u0107,,"{'name': 'Montenegro', 'id': 499, 'alpha3code'...","{'code2': 'FW', 'code3': 'FWD', 'name': 'Forwa...",O. Stijepovi\u0107,74,405880
503,"{'name': 'Nigeria', 'id': 566, 'alpha3code': '...",1998-01-19,null,3166,Orji,right,178,Okwonkwo,,"{'name': 'Nigeria', 'id': 566, 'alpha3code': '...","{'code2': 'FW', 'code3': 'FWD', 'name': 'Forwa...",O. Okwonkwo,72,403272
504,"{'name': 'Colombia', 'id': 170, 'alpha3code': ...",1998-06-20,null,3166,Juan Manuel,right,185,Valencia Aponz\u00e1,,"{'name': 'Colombia', 'id': 170, 'alpha3code': ...","{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...",J. Valencia,79,415687
505,"{'name': 'Italy', 'id': 380, 'alpha3code': 'IT...",1998-02-02,null,3197,Giuseppe,right,190,Cuomo,,"{'name': 'Italy', 'id': 380, 'alpha3code': 'IT...","{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...",G. Cuomo,79,456565
506,"{'name': 'Italy', 'id': 380, 'alpha3code': 'IT...",1999-09-24,null,3219,Giovanni,right,175,Volpicelli,,"{'name': 'Italy', 'id': 380, 'alpha3code': 'IT...","{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...",G. Volpicelli,69,461671
507,"{'name': 'Italy', 'id': 380, 'alpha3code': 'IT...",2000-08-24,27928,3165,Emanuel,right,175,Vignato,,"{'name': 'Brazil', 'id': 76, 'alpha3code': 'BR...","{'code2': 'FW', 'code3': 'FWD', 'name': 'Forwa...",E. Vignato,67,485014
508,"{'name': 'Italy', 'id': 380, 'alpha3code': 'IT...",1999-07-02,3763,3158,Nicol\u00f2,left,190,Zaniolo,,"{'name': 'Italy', 'id': 380, 'alpha3code': 'IT...","{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...",N. Zaniolo,79,487020
509,"{'name': 'Portugal', 'id': 620, 'alpha3code': ...",2000-03-09,9911,3162,Pedro,left,172,Lomba Neto,,"{'name': 'Portugal', 'id': 620, 'alpha3code': ...","{'code2': 'FW', 'code3': 'FWD', 'name': 'Forwa...",Pedro Neto,62,496823
510,"{'name': 'Italy', 'id': 380, 'alpha3code': 'IT...",2000-01-13,null,3173,Riccardo,right,192,Daga,,"{'name': 'Italy', 'id': 380, 'alpha3code': 'IT...","{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...",R. Daga,78,507570
511,"{'name': 'Italy', 'id': 380, 'alpha3code': 'IT...",1999-06-03,3764,3176,Riccardo,right,180,Sottil,,"{'name': 'Italy', 'id': 380, 'alpha3code': 'IT...","{'code2': 'FW', 'code3': 'FWD', 'name': 'Forwa...",R. Sottil,70,523085
512,"{'name': 'Italy', 'id': 380, 'alpha3code': 'IT...",1999-02-25,3764,3194,Andrea,right,175,Danzi,,"{'name': 'Italy', 'id': 380, 'alpha3code': 'IT...","{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...",A. Danzi,68,523089
513,"{'name': 'Greece', 'id': 300, 'alpha3code': 'G...",1985-07-11,12678,3187,Orestis,right,190,Karnezis,,"{'name': 'Greece', 'id': 300, 'alpha3code': 'G...","{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...",O. Karnezis,84,92864
514,"{'name': 'Estonia', 'id': 233, 'alpha3code': '...",1985-10-30,null,3173,Ragnar,left,187,Klavan,,"{'name': 'Estonia', 'id': 233, 'alpha3code': '...","{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...",R. Klavan,78,74
515,"{'name': 'France', 'id': 250, 'alpha3code': 'F...",1994-08-17,null,3157,Tiemou\u00e9,right,184,Bakayoko,,"{'name': 'C\u00f4te d'Ivoire', 'id': 384, 'alp...","{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...",T. Bakayoko,72,28291
516,"{'name': 'France', 'id': 250, 'alpha3code': 'F...",1997-01-03,null,3315,Jeremie,right,174,Boga,,"{'name': 'C\u00f4te d'Ivoire', 'id': 384, 'alp...","{'code2': 'FW', 'code3': 'FWD', 'name': 'Forwa...",J. Boga,72,227756
517,"{'name': 'Croatia', 'id': 191, 'alpha3code': '...",1982-05-01,null,3173,Darijo,right,178,Srna,,"{'name': 'Croatia', 'id': 191, 'alpha3code': '...","{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...",D. Srna,78,105332
518,"{'name': 'Poland', 'id': 616, 'alpha3code': 'P...",1991-06-03,null,3163,\u0141ukasz,right,188,Teodorczyk,,"{'name': 'Poland', 'id': 616, 'alpha3code': 'P...","{'code2': 'FW', 'code3': 'FWD', 'name': 'Forwa...",\u0141. Teodorczyk,79,99479
519,"{'name': 'Croatia', 'id': 191, 'alpha3code': '...",1997-04-14,null,3158,Ante,right,176,\u0106ori\u0107,,"{'name': 'Croatia', 'id': 191, 'alpha3code': '...","{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...",A. \u0106ori\u0107,59,284470

In [19]:
events_england = pd.read_json('C:\\Users\\Gabriele\\Desktop\\datasets\\events_Italy.json')

events_england = events_england[events_england['eventName'] == 'Pass']  # only 'pass' events
events_england = events_england.reset_index(drop=True)
events_england

,eventId,eventName,eventSec,id,matchId,matchPeriod,playerId,positions,subEventId,subEventName,tags,teamId
0,8,Pass,2.530536,180423957,2575959,1H,8327,"[{'y': 52, 'x': 49}, {'y': 44, 'x': 43}]",85,Simple pass,[{'id': 1801}],3158
1,8,Pass,3.768418,180423958,2575959,1H,20438,"[{'y': 44, 'x': 43}, {'y': 17, 'x': 36}]",85,Simple pass,[{'id': 1801}],3158
2,8,Pass,10.376066,180423962,2575959,1H,8306,"[{'y': 15, 'x': 72}, {'y': 25, 'x': 72}]",85,Simple pass,[{'id': 1801}],3158
3,8,Pass,16.240563,180423979,2575959,1H,86366,"[{'y': 82, 'x': 38}, {'y': 88, 'x': 43}]",85,Simple pass,[{'id': 1801}],3172
4,8,Pass,19.153235,180423968,2575959,1H,8306,"[{'y': 15, 'x': 61}, {'y': 15, 'x': 37}]",85,Simple pass,[{'id': 1801}],3158
5,8,Pass,20.873026,180423969,2575959,1H,20518,"[{'y': 15, 'x': 37}, {'y': 30, 'x': 41}]",85,Simple pass,[{'id': 1801}],3158
6,8,Pass,21.503835,180423970,2575959,1H,20438,"[{'y': 30, 'x': 41}, {'y': 16, 'x': 34}]",85,Simple pass,[{'id': 1801}],3158
7,8,Pass,23.201103,180423971,2575959,1H,20518,"[{'y': 16, 'x': 34}, {'y': 10, 'x': 51}]",85,Simple pass,[{'id': 1801}],3158
8,8,Pass,27.700356,180423973,2575959,1H,8306,"[{'y': 13, 'x': 65}, {'y': 29, 'x': 71}]",85,Simple pass,[{'id': 1801}],3158
9,8,Pass,57.313039,180423981,2575959,1H,3475,"[{'y': 13, 'x': 89}, {'y': 83, 'x': 100}]",80,Cross,"[{'id': 402}, {'id': 801}, {'id': 1802}]",3158
10,8,Pass,94.813038,180423997,2575959,1H,86366,"[{'y': 36, 'x': 32}, {'y': 6, 'x': 57}]",85,Simple pass,[{'id': 1801}],3172
11,8,Pass,97.794281,180423998,2575959,1H,295176,"[{'y': 6, 'x': 57}, {'y': 21, 'x': 69}]",85,Simple pass,[{'id': 1801}],3172
12,8,Pass,99.324654,180424001,2575959,1H,21077,"[{'y': 21, 'x': 69}, {'y': 12, 'x': 58}]",85,Simple pass,[{'id': 1801}],3172
13,8,Pass,101.978336,180424000,2575959,1H,49991,"[{'y': 12, 'x': 58}, {'y': 9, 'x': 81}]",86,Smart pass,[{'id': 1802}],3172
14,8,Pass,110.967192,180424007,2575959,1H,20841,"[{'y': 18, 'x': 40}, {'y': 77, 'x': 51}]",85,Simple pass,[{'id': 1801}],3172
15,8,Pass,116.701879,180424008,2575959,1H,41034,"[{'y': 77, 'x': 51}, {'y': 90, 'x': 58}]",85,Simple pass,[{'id': 1801}],3172
16,8,Pass,117.986911,180424009,2575959,1H,20404,"[{'y': 90, 'x': 58}, {'y': 71, 'x': 59}]",85,Simple pass,[{'id': 1801}],3172
17,8,Pass,118.372288,180424010,2575959,1H,41034,"[{'y': 71, 'x': 59}, {'y': 82, 'x': 69}]",85,Simple pass,[{'id': 1802}],3172
18,8,Pass,160.255226,180424015,2575959,1H,20841,"[{'y': 16, 'x': 14}, {'y': 3, 'x': 15}]",85,Simple pass,[{'id': 1801}],3172
19,8,Pass,163.195949,180424016,2575959,1H,295176,"[{'y': 3, 'x': 28}, {'y': 12, 'x': 14}]",85,Simple pass,[{'id': 1801}],3172
20,8,Pass,167.259232,180424017,2575959,1H,20841,"[{'y': 12, 'x': 14}, {'y': 83, 'x': 35}]",83,High pass,[{'id': 1802}],3172
21,8,Pass,173.754622,180424018,2575959,1H,3475,"[{'y': 17, 'x': 65}, {'y': 44, 'x': 56}]",85,Simple pass,[{'id': 1801}],3158
22,8,Pass,175.173176,180424019,2575959,1H,20438,"[{'y': 44, 'x': 56}, {'y': 37, 'x': 55}]",85,Simple pass,[{'id': 1801}],3158
23,8,Pass,178.127000,180424020,2575959,1H,20438,"[{'y': 37, 'x': 55}, {'y': 15, 'x': 32}]",82,Head pass,[{'id': 1801}],3158
24,8,Pass,181.969441,180424022,2575959,1H,3475,"[{'y': 15, 'x': 32}, {'y': 53, 'x': 13}]",85,Simple pass,[{'id': 1801}],3158
25,8,Pass,185.706491,180424023,2575959,1H,214220,"[{'y': 53, 'x': 13}, {'y': 64, 'x': 33}]",85,Simple pass,[{'id': 1801}],3158
26,8,Pass,188.436954,180424025,2575959,1H,92966,"[{'y': 64, 'x': 33}, {'y': 66, 'x': 32}]",85,Simple pass,[{'id': 1801}],3158
27,8,Pass,197.987393,180424037,2575959,1H,214220,"[{'y': 53, 'x': 7}, {'y': 76, 'x': 37}]",81,Hand pass,[{'id': 1801}],3158
28,8,Pass,201.317410,180424039,2575959,1H,114,"[{'y': 76, 'x': 37}, {'y': 90, 'x': 40}]",85,Simple pass,[{'id': 1801}],3158
29,8,Pass,203.034225,180424040,2575959,1H,23149,"[{'y': 90, 'x': 40}, {'y': 87, 'x': 24}]",85,Simple pass,[{'id': 1802}],3158
...,...,...,...,...,...,...,...,...,...,...,...,...
337287,8,Pass,2668.256141,253567082,2576338,2H,3548,"[{'y': 59, 'x': 77}, {'y': 37, 'x': 75}]",85,Simple pass,[{'id': 1802}],3193
337288,8,Pass,2675.365143,253567102,2576338,2H,20927,"[{'y': 76, 'x': 62}, {'y': 92, 'x': 65}]",85,Simple pass,[{'id': 1801}],3185
337289,8,Pass,2694.236646,253567090,2576338,2H,21468,"[{'y': 37, 'x': 10}, {'y': 50, 'x': 27}]",85,Simple pass,[{'id': 1801}],3193
337290,8,Pass,2697.934333,253567092,2576338,2H,206318,"[{'y': 50, 'x': 27}, {'y': 93, 'x': 49}]",85,Simple pass,[{'id': 1801}],3193
337291,8,Pass,2701.437522,253567093,2576338,2H,345740,"[{'y': 93, 'x': 49}, {'y': 99, 'x': 67}]",85,Simple pass,[{'id': 1801}],3193
337292,8,Pass,2705.292745,253567096,2576338,2H,70974,"[{'y': 99, 'x': 67}, {'y': 93, 'x': 90}]",85,Simple pass,[{'id': 1801}],3193
337293,8,Pass,2724.283524,253567103,2576338,2H,206318,"[{'y': 89, 'x': 68}, {'y': 99, 'x': 71}]",85,Simple pass,[{'id': 1801}],3193
337294,8,Pass,2727.153625,253567106,2576338,2H,345740,"[{'y': 99, 'x': 71}, {'y': 73, 'x': 76}]",85,Simple pass,[{'id': 1801}],3193
337295,8,Pass,2728.870841,253567108,2576338,2H,70974,"[{'y': 73, 'x': 76}, {'y': 63, 'x': 78}]",85,Simple pass,[{'id': 1802}],3193
337296,8,Pass,2733.046978,253567117,2576338,2H,20812,"[{'y': 26, 'x': 33}, {'y': 6, 'x': 17}]",85,Simple pass,[{'id': 1801}],3185
337297,8,Pass,2736.754871,253567119,2576338,2H,339791,"[{'y': 6, 'x': 17}, {'y': 6, 'x': 30}]",85,Simple pass,[{'id': 1801}],3185
337298,8,Pass,2737.071115,253567120,2576338,2H,14903,"[{'y': 6, 'x': 30}, {'y': 14, 'x': 35}]",85,Simple pass,[{'id': 1801}],3185
337299,8,Pass,2738.226524,253567121,2576338,2H,20812,"[{'y': 14, 'x': 35}, {'y': 5, 'x': 35}]",85,Simple pass,[{'id': 1801}],3185
337300,8,Pass,2739.286663,253567123,2576338,2H,14903,"[{'y': 5, 'x': 35}, {'y': 7, 'x': 25}]",85,Simple pass,[{'id': 1801}],3185
337301,8,Pass,2741.891373,253567124,2576338,2H,339791,"[{'y': 7, 'x': 25}, {'y': 5, 'x': 30}]",85,Simple pass,[{'id': 1801}],3185
337302,8,Pass,2744.919623,253567126,2576338,2H,14903,"[{'y': 5, 'x': 30}, {'y': 12, 'x': 25}]",85,Simple pass,[{'id': 1801}],3185
337303,8,Pass,2747.425327,253567129,2576338,2H,339791,"[{'y': 12, 'x': 22}, {'y': 17, 'x': 13}]",85,Simple pass,[{'id': 1801}],3185
337304,8,Pass,2750.485637,253567131,2576338,2H,14745,"[{'y': 17, 'x': 13}, {'y': 44, 'x': 10}]",85,Simple pass,[{'id': 1801}],3185
337305,8,Pass,2753.300161,253567132,2576338,2H,283062,"[{'y': 44, 'x': 10}, {'y': 43, 'x': 30}]",85,Simple pass,[{'id': 1801}],3185
337306,8,Pass,2772.335880,253567137,2576338,2H,14903,"[{'y': 39, 'x': 42}, {'y': 58, 'x': 47}]",85,Simple pass,[{'id': 1801}],3185
337307,8,Pass,2775.541565,253567138,2576338,2H,20812,"[{'y': 58, 'x': 47}, {'y': 81, 'x': 45}]",85,Simple pass,[{'id': 1801}],3185
337308,8,Pass,2778.207129,253567140,2576338,2H,20927,"[{'y': 81, 'x': 45}, {'y': 90, 'x': 71}]",85,Simple pass,[{'id': 1801}],3185
337309,8,Pass,2782.587655,253567141,2576338,2H,354552,"[{'y': 90, 'x': 71}, {'y': 94, 'x': 66}]",85,Simple pass,[{'id': 1801}],3185
337310,8,Pass,2783.937176,253567143,2576338,2H,20927,"[{'y': 94, 'x': 66}, {'y': 100, 'x': 78}]",86,Smart pass,[{'id': 1802}],3185
337311,8,Pass,2795.044737,253567127,2576338,2H,349102,"[{'y': 39, 'x': 30}, {'y': 58, 'x': 47}]",85,Simple pass,[{'id': 1801}],3193
337312,8,Pass,2795.993433,253567130,2576338,2H,70974,"[{'y': 58, 'x': 47}, {'y': 55, 'x': 35}]",85,Simple pass,[{'id': 1801}],3193
337313,8,Pass,2797.609376,253567133,2576338,2H,349102,"[{'y': 55, 'x': 35}, {'y': 60, 'x': 33}]",85,Simple pass,[{'id': 1801}],3193
337314,8,Pass,2801.914483,253567136,2576338,2H,413041,"[{'y': 57, 'x': 25}, {'y': 43, 'x': 31}]",85,Simple pass,[{'id': 1801}],3193
337315,8,Pass,2808.430235,253567145,2576338,2H,206318,"[{'y': 48, 'x': 46}, {'y': 87, 'x': 61}]",83,High pass,[{'id': 1801}],3193
337316,8,Pass,2812.814903,253567149,2576338,2H,345740,"[{'y': 71, 'x': 67}, {'y': 26, 'x': 70}]",85,Simple pass,[{'id': 1802}],3193

In [20]:
# creating a dict with keys(player), value(number of attempted passes)
pass_att = {} 

for index1 in range(len(players)):
    count = events_england[events_england['playerId'] == players.loc[index1, 'wyId']] # all attempted passes of one player
    
    pass_att[players.loc[index1, 'shortName']] = len(count) # value of that player = number of attempted passes

pass_att

{'Ali Adnan': 639,
 'K. Strootman': 1392,
 'D. Mertens': 973,
 'S. de Vrij': 1507,
 'F. \\u0110uri\\u010di\\u0107': 369,
 'J. Vukovi\\u0107': 509,
 'R. Gosens': 744,
 'D. Borsellini': 0,
 'G. Donsah': 617,
 'B. Nuytinck': 1177,
 'M. de Roon': 1589,
 'L. Pellegrini': 930,
 'M. Fares': 981,
 '\\u0141. Skorupski': 23,
 'A. Milik': 133,
 'G. Pegolo': 21,
 'M. St\\u0119pi\\u0144ski': 131,
 'F. Vicari': 1140,
 'A. Ferrari': 842,
 'C. Keita': 27,
 'T. Cionek': 711,
 'R. Bentancur': 503,
 'A. Deiola': 144,
 'B. Bereszy\\u0144ski': 1268,
 'P. Zieli\\u0144ski': 1263,
 'T. Castagne': 818,
 'P. Gollini': 128,
 'E. Bearzotti': 152,
 'E. Viviano': 503,
 'T. Strakosha': 764,
 'V. Laurini': 846,
 'A. Bar\\u00e1k': 1112,
 'Dalbert': 295,
 'Jos\\u00e9 Callej\\u00f3n': 1476,
 'S. Khedira': 923,
 'Cristiano Ronaldo': 0,
 'G. Higua\\u00edn': 681,
 'F. Caicedo': 159,
 'A. Cragno': 411,
 'Rafinha': 724,
 'F. Costa': 552,
 'D. Rugani': 1470,
 'L. Capezzi': 125,
 'A. Grassi': 736,
 'S. Fofana': 892,
 'C. Ansaldi': 774,
 'F. Fazio': 1828,
 'D. Perotti': 832,
 'Luis Alberto': 1527,
 'M. Musacchio': 916,
 'C. Zapata': 640,
 'K. Babacar': 221,
 'S. Milinkovi\\u0107-Savi\\u0107': 1671,
 'F. Zuculini': 160,
 'M. Badelj': 1686,
 '\\u0160. Vrsaljko': 0,
 'A. Budimir': 298,
 'Luca Pellegrini': 0,
 'A. Cornelius': 248,
 'S. Pontisso': 13,
 'A. Florenzi': 1490,
 'Alex Sandro': 1447,
 'T. Berni': 0,
 '\\u00c1. Nagy': 222,
 'M. Pjaca': 0,
 'Patric': 338,
 'L. Biglia': 1548,
 'J. Lukaku': 642,
 'P. Schick': 265,
 "C. Dell'Orco": 147,
 'S. Perica': 172,
 'Guilherme': 351,
 'Jo\\u00e3o M\\u00e1rio': 341,
 'Iuri Medeiros': 247,
 'A. Barreca': 195,
 'A. Bali\\u0107': 519,
 'E. Zukanovi\\u0107': 1501,
 'L. Venuti': 966,
 'A. Ounas': 56,
 'L. Zima': 0,
 'S. Simi\\u010d': 188,
 'D. Boldor': 36,
 'J. Silva': 66,
 'K. Lasagna': 383,
 'L. \\u0160imi\\u0107': 112,
 'Simy': 244,
 'S. V\\u00e4is\\u00e4nen': 262,
 'G. Simeone': 487,
 'Douglas Costa': 997,
 'P. Jaroszy\\u0144ski': 309,
 'I. Strini\\u0107': 709,
 'K. Linetty': 987,
 'M. \\u0160kriniar': 2273,
 'S. Tanasijevi\\u0107': 0,
 'W. Szcz\\u0119sny': 312,
 'J. Djourou': 0,
 'B. Sagna': 674,
 'F. Cassata': 124,
 'Nani': 177,
 'Pepe Reina': 813,
 'Lucas Leiva': 2011,
 'D. Santon': 464,
 'Rafael': 108,
 'Felipe Anderson': 609,
 'Borja Valero': 1967,
 'Iago Falqu\\u00e9': 1236,
 'F. Caligara': 7,
 'G. Crociata': 76,
 "S. N'Zonzi": 0,
 'Rafael Tol\\u00f3i': 1532,
 'Sandro': 687,
 'A. Kolarov': 2043,
 'E. D\\u017eeko': 704,
 'N. Zanellato': 33,
 'B. Gyamfi': 156,
 'A. Taarabt': 718,
 'D. Laxalt': 1065,
 'R. Aarons': 102,
 'N. Kalini\\u0107': 312,
 'S. Miangue': 301,
 'M. Icardi': 419,
 'D. Biraschi': 899,
 'S. Scuffet': 103,
 'E. Capradossi': 46,
 'J. Mauri': 11,
 'V. Parigini': 304,
 'F. Bonazzoli': 50,
 'P. Konate': 0,
 'A. Benali': 368,
 'G. Gaudino': 8,
 'Rog\\u00e9rio': 365,
 'Lee Seung-Woo': 155,
 'Gil Dias': 443,
 'Allan': 1746,
 'D. Kownacki': 225,
 'A. Nalini': 488,
 'Han Kwang-Song': 56,
 'Suso': 1461,
 'W. Troost-Ekong': 0,
 'M. Trotta': 699,
 'M. Vitale': 27,
 'Vitor Hugo': 614,
 'S. Sanogo': 16,
 'M. Politano': 955,
 '\\u00c1lex Berenguer': 401,
 'Bastos': 832,
 'G. Guerrieri': 0,
 'R. Gagliardini': 1349,
 'Gerson': 495,
 'A. Masina': 1273,
 'A. Bastoni': 71,
 'M. Antonucci': 15,
 'D. Berardi': 848,
 'Everton Luiz': 220,
 'A. Confente': 0,
 'R. Orsolini': 143,
 'A. Diawara': 696,
 'L. Crosta': 8,
 'N. Haas': 94,
 'C. Molinaro': 824,
 'I. Peri\\u0161i\\u0107': 1512,
 'B. H\\u00f6wedes': 208,
 'T. Rinc\\u00f3n': 1404,
 'J. Sala': 647,
 'R. Rodr\\u00edguez': 1823,
 'M. Mand\\u017euki\\u0107': 887,
 'D. Ceter': 42,
 'Jo\\u00e3o Schmidt': 0,
 'A. Romagnoli': 1429,
 'F. Mattiello': 692,
 'H. \\u00c7alhano\\u011flu': 1177,
 'Bruno Jord\\u00e3o': 0,
 'Luiz Felipe': 661,
 'D. Verde': 610,
 'S. Bastien': 462,
 'E. Goldaniga': 344,
 'F. Bernardeschi': 358,
 'S. Sensi': 476,
 'R. Mandragora': 1256,
 'L. Krej\\u010d\\u00ed': 152,
 'M. Benassi': 1275,
 'A. Petagna': 476,
 'M. Kean': 179,
 'A. Ajeti': 366,
 'D. Pavlovic': 323,
 'R. Freuler': 2056,
 'B. Djimsiti': 1533,
 'M. Zaccagni': 56,
 'S. Widmer': 786,
 'A. Ioni\\u0163\\u0103': 875,
 'Lyanco': 147,
 'R. de Paul': 958,
 'G. Lapadula': 204,
 'S. Crist\\u00f3foro': 184,
 'Jo\\u00e3o Pedro': 457,
 'M. Olivera': 237,
 'V. Eysseric': 367,
 'R. Olsen': 0,
 'F. Helander': 1166,
 'V. Chiriche\\u0219': 545,
 'M. Vecino': 1537,
 'Pedro Pereira': 166,
 'E. Berisha': 473,
 'S. Ichazo': 0,
 'H. Hateboer': 1158,
 'O. Hiljemark': 573,
 'M. Rohd\\u00e9n': 481,
 'C. Falletti': 154,
 'F. Avenatti': 106,
 'S. Lo Faso': 32,
 'A. Murgia': 361,
 'G. Mancini': 312,
 'M. Bani': 607,
 'M. Tumminello': 72,
 'Samir': 1201,
 'A. To\\u0219ca': 709,
 'B. Dr\\u0105gowski': 29,
 'Albiol': 2390,
 'J. El Yamiq': 169,
 'S. Ingelsson': 90,
 'A. Conti': 84,
 'I. Abate': 652,
 'M. De Sciglio': 702,
 'S. Calvano': 225,
 'B. Cristante': 1492,
 'M. Valoti': 524,
 'S. El Shaarawy': 946,
 'D. De Rossi': 1219,
 'M. Pjani\\u0107': 1965,
 'V. Verre': 288,
 'F. Viviani': 1476,
 'F. Borini': 733,
 'G. Buffon': 392,
 'A. Barzagli': 1180,
 'L. Bonucci': 1966,
 'M. C\\u00e1ceres': 676,
 'G. Chiellini': 1707,
 'E. Giaccherini': 437,
 'S. Padoin': 1117,
 'A. Matri': 186,
 'F. Quagliarella': 599,
 'A. Mirante': 727,
 'M. Gobbi': 1033,
 'S. Floccari': 222,
 'M. Bianchetti': 50,
 'D. Faraoni': 732,
 'Juan Jesus': 1128,
 'A. Ranocchia': 305,
 'R. \\u00c1lvarez': 157,
 'J. Obi': 538,
 'L. Crisetig': 339,
 'A. Poli': 1203,
 'A. Bizzarri': 636,
 'F. Marchetti': 0,
 'A. Candreva': 1455,
 'S. Luli\\u0107': 1254,
 'S. Handanovi\\u010d': 702,
 'D. Padelli': 0,
 'M. Benatia': 1338,
 'Danilo': 1315,
 'Jo\\u00e3o Miranda': 1582,
 'K. Asamoah': 1134,
 'Angelo da Costa': 111,
 'A. Costa': 653,
 'Eder': 233,
 'C. Puggioni': 484,
 'S. Sorrentino': 612,
 'F. Acerbi': 1514,
 'M. Andreolli': 814,
 'D. Dainelli': 569,
 'L. Rigoni': 526,
 'A. Paloschi': 360,
 'C. Th\\u00e9r\\u00e9au': 513,
 'G. Ram\\u00edrez': 942,
 'D. Zapata': 503,
 'B. Salamon': 849,
 'N. Tomovi\\u0107': 1050,
 'A. Bertolacci': 1536,
 'J. Cuadrado': 811,
 'L. Castro': 998,
 'G. Pezzella': 360,
 'M. Destro': 257,
 'M. Silvestre': 2125,
 'A. Acquah': 467,
 'A. Barberis': 968,
 '\\u00c9. Barreto': 1042,
 'J. Ili\\u010di\\u0107': 1038,
 'J. Palomino': 1051,
 'A. Consigli': 608,
 'A. Masiello': 1815,
 'G. Bonaventura': 1392,
 'N. Murru': 668,
 'D. Dessena': 226,
 'A. Ekdal': 0,
 'R. Nainggolan': 1272,
 'P. Schiattarella': 1086,
 'V. Milinkovi\\u0107-Savi\\u0107': 34,
 'L. De Silvestri': 1334,
 'Felipe': 1206,
 'R\\u00f4mulo': 1349,
 'V. Behrami': 478,
 'A. Ljaji\\u0107': 1114,
 'R. Montolivo': 674,
 'A. Cerci': 412,
 'Ryder Matos': 294,
 'D. Di Gennaro': 2,
 'E. Hysaj': 2273,
 'V. Regini': 592,
 'L. Tonelli': 210,
 'M. Valdifiori': 353,
 'R. Saponara': 409,
 'N. Spolli': 621,
 'A. G\\u00f3mez': 1273,
 "D. D'Ambrosio": 1744,
 'A. Gomis': 422,
 'M. Antenucci': 596,
 'R. Meggiorini': 164,
 'S. Verdi': 1090,
 'C. Pinsoglio': 3,
 'N. Rigoni': 399,
 'B. D\\u017eemaili': 467,
 'M. Ham\\u0161\\u00edk': 2489,
 'C. Maggio': 337,
 'G. Pandev': 571,
 'A. Belotti': 514,
 'L. L\\u00f3pez': 25,
 'L. Antonelli': 84,
 'E. Moretti': 1002,
 'M. Sampirisi': 869,
 'D. Biondini': 106,
 'S. Sturaro': 253,
 'V. Birsa': 1282,
 'R. Palacio': 622,
 'Nicolas': 834,
 'Jorginho': 3118,
 "M. D'Alessandro": 278,
 'M. Parolo': 1166,
 'M. Capuano': 900,
 'S. Romagnoli': 276,
 'G. Caprari': 619,
 'C. Immobile': 746,
 'L. Insigne': 2439,
 'A. Brignoli': 313,
 'S. Omeonga': 323,
 'R. Inglese': 471,
 'M. Perin': 711,
 'A. Cordaz': 592,
 'D. Baselli': 1265,
 'E. Schiavon': 113,
 'F. Ceccherini': 1214,
 'I. Radovanovi\\u0107': 1635,
 'M. Silvestri': 27,
 'F. Ricci': 400,
 'F. Cacciatore': 1623,
 'J. Kurti\\u010d': 882,
 'E. Lamanna': 11,
 'L. Ceppitelli': 1112,
 'A. Stoian': 994,
 'L. Del Pinto': 389,
 'F. Romagna': 810,
 'F. Chiesa': 966,
 'A. Seculin': 0,
 'C. Biraghi': 1303,
 'D. Falcinelli': 289,
 'M. Sau': 358,
 'L. Antei': 346,
 'M. Festa': 0,
 'N. Giannetti': 57,
 'A. Galabinov': 295,
 'F. Rossi': 2,
 'A. Donnarumma': 0,
 'A. Caracciolo': 967,
 'M. B\\u00fcchel': 777,
 'M\\u00e1rio Rui': 1859,
 'N. Pierini': 16,
 'P. Iemmello': 195,
 'I. Cofie': 287,
 'F. Magnanelli': 1508,
 'S. Missiroli': 1104,
 'M. Rog': 262,
 'B. Martella': 1061,
 'G. Ferrari': 1641,
 'L. Memushaj': 610,
 'C. \\u00dcnder': 405,
 'A. Lazaar': 143,
 'A. Tozzo': 0,
 "I. M'baye": 811,
 'Daniel Bessa': 837,
 'A. Duncan': 722,
 'V. Belec': 269,
 'F. Migliore': 132,
 'F. Depaoli': 320,
 'F. Lucioni': 265,
 'G. Angella': 468,
 'N. Viola': 1124,
 'A. Ragusa': 221,
 'F. Pisacane': 986,
 'J. Andersen': 386,
 'L. Sepe': 13,
 'A. Izzo': 781,
 'L. Pavoletti': 612,
 'F. Kessi\\u00e9': 1716,
 'G. Defrel': 122,
 'B. Petkovi\\u0107': 318,
 'J. Stryger Larsen': 1127,
 'I. Vargi\\u0107': 0,
 'Diego Farias': 515,
 'G. Donnarumma': 821,
 'P. Cutrone': 293,
 'L. Rizzo': 191,
 'M. Fossati': 651,
 'P. Dybala': 1219,
 'M. Sportiello': 636,
 'P. Farag\\u00f2': 950,
 'M. L\\u00e9ris': 13,
 'C. Adjapong': 436,
 'F. Zampano': 132,
 'A. Meret': 204,
 'N. Barella': 1485,
 'G. Felicioli': 70,
 'M. Locatelli': 526,
 'M. Coda': 294,
 'T. Letschert': 179,
 'G. Poluzzi': 0,
 'E. Pulgar': 1627,
 'G. Letizia': 1065,
 'M. Diaby': 13,
 'M. Pucciarelli': 368,
 '\\u015e. Radu': 1609,
 'D. Basta': 325,
 'J. Billong': 139,
 'Y. Karamoh': 231,
 'M. Gonalons': 722,
 'S. Sirigu': 813,
 'L. Landre': 0,
 'B. Matuidi': 1331,
 'J. Veretout': 1977,
 "N. N'Koulou": 1569,
 'C. Diabat\\u00e9': 94,
 'P. Hetemaj': 1123,
 'S. Pellissier': 91,
 'K. Koulibaly': 2860,
 'F. Ghoulam': 812,
 'T. Heurtaux': 523,
 'M. Niang': 443,
 'B. Dabo': 301,
 'Bruno Gaspar': 450,
 'Z. Machach': 0,
 'C. Lombardi': 297,
 'L. Spinazzola': 832,
 'A. Santurro': 23,
 'L. Rossettini': 966,
 'S. Souprayen': 693,
 'Pol Lirola': 753,
 'M. Brozovi\\u0107': 1640,
 'F. Peluso': 901,
 'L. Cigarini': 1386,
 'J. Jankto': 1059,
 'S. Edera': 102,
 'R. Karsdorp': 50,
 'G. Gonz\\u00e1lez': 933,
 'D. Cataldi': 1260,
 'L. Crecco': 0,
 'B. Keita': 0,
 'C. Lykogiannis': 195,
 'V. Torosidis': 330,
 'K. Manolas': 1295,
 'D. Calabria': 937,
 'K. Bonifazi': 166,
 'M. Caldara': 946,
 'E. Brignola': 456,
 'Jo\\u00e3o Cancelo': 1346,
 'D. Lazovi\\u0107': 568,
 'M. Lazzari': 1182,
 'D. Praet': 1431,
 'F. Di Francesco': 424,
 'D. Frattesi': 0,
 'L. Mazzitelli': 409,
 'M. Lemos': 224,
 'Wallace': 559,
 'N. Milenkovi\\u0107': 683,
 'A. Viscovo': 0,
 'S. De Maio': 1061,
 'A. Maru\\u0161i\\u0107': 961,
 'M. Barrow': 116,
 'F. Bradari\\u0107': 0,
 'E. Fernandes': 0,
 'E. Can': 0,
 'D. Ospina': 0,
 'E. Ferigra': 0,
 'L. Sparandeo': 15,
 'K. Ciss\\u00e9': 6,
 'M. Rigione': 5,
 'M. Wagu\\u00e9': 24,
 'G. Di Chiara': 534,
 'S. Gustafson': 31,
 'A. Romero': 50,
 'M. Leverbe': 0,
 'N. Abdullahi': 0,
 '\\u013d. Tupta': 13,
 'O. Stijepovi\\u0107': 1,
 'O. Okwonkwo': 68,
 'J. Valencia': 0,
 'G. Cuomo': 0,
 'G. Volpicelli': 1,
 'E. Vignato': 0,
 'N. Zaniolo': 0,
 'Pedro Neto': 0,
 'R. Daga': 0,
 'R. Sottil': 0,
 'A. Danzi': 186,
 'O. Karnezis': 0,
 'R. Klavan': 0,
 'T. Bakayoko': 0,
 'J. Boga': 0,
 'D. Srna': 0,
 '\\u0141. Teodorczyk': 0,
 'A. \\u0106ori\\u0107': 0}

In [21]:
# removing the players who didn't reach a reasonably number of passes
 
l_key = [] # list of keys to remove

for key, value in pass_att.items():  
    if value < 150:
        l_key.append(key)
        
# removing keys from the dict (values < 150 passes) = players who didn't reach a reasonably number of passes
for j in l_key:  
    pass_att.pop(j) 

pass_att

{'Ali Adnan': 639,
 'K. Strootman': 1392,
 'D. Mertens': 973,
 'S. de Vrij': 1507,
 'F. \\u0110uri\\u010di\\u0107': 369,
 'J. Vukovi\\u0107': 509,
 'R. Gosens': 744,
 'G. Donsah': 617,
 'B. Nuytinck': 1177,
 'M. de Roon': 1589,
 'L. Pellegrini': 930,
 'M. Fares': 981,
 'F. Vicari': 1140,
 'A. Ferrari': 842,
 'T. Cionek': 711,
 'R. Bentancur': 503,
 'B. Bereszy\\u0144ski': 1268,
 'P. Zieli\\u0144ski': 1263,
 'T. Castagne': 818,
 'E. Bearzotti': 152,
 'E. Viviano': 503,
 'T. Strakosha': 764,
 'V. Laurini': 846,
 'A. Bar\\u00e1k': 1112,
 'Dalbert': 295,
 'Jos\\u00e9 Callej\\u00f3n': 1476,
 'S. Khedira': 923,
 'G. Higua\\u00edn': 681,
 'F. Caicedo': 159,
 'A. Cragno': 411,
 'Rafinha': 724,
 'F. Costa': 552,
 'D. Rugani': 1470,
 'A. Grassi': 736,
 'S. Fofana': 892,
 'C. Ansaldi': 774,
 'F. Fazio': 1828,
 'D. Perotti': 832,
 'Luis Alberto': 1527,
 'M. Musacchio': 916,
 'C. Zapata': 640,
 'K. Babacar': 221,
 'S. Milinkovi\\u0107-Savi\\u0107': 1671,
 'F. Zuculini': 160,
 'M. Badelj': 1686,
 'A. Budimir': 298,
 'A. Cornelius': 248,
 'A. Florenzi': 1490,
 'Alex Sandro': 1447,
 '\\u00c1. Nagy': 222,
 'Patric': 338,
 'L. Biglia': 1548,
 'J. Lukaku': 642,
 'P. Schick': 265,
 'S. Perica': 172,
 'Guilherme': 351,
 'Jo\\u00e3o M\\u00e1rio': 341,
 'Iuri Medeiros': 247,
 'A. Barreca': 195,
 'A. Bali\\u0107': 519,
 'E. Zukanovi\\u0107': 1501,
 'L. Venuti': 966,
 'S. Simi\\u010d': 188,
 'K. Lasagna': 383,
 'Simy': 244,
 'S. V\\u00e4is\\u00e4nen': 262,
 'G. Simeone': 487,
 'Douglas Costa': 997,
 'P. Jaroszy\\u0144ski': 309,
 'I. Strini\\u0107': 709,
 'K. Linetty': 987,
 'M. \\u0160kriniar': 2273,
 'W. Szcz\\u0119sny': 312,
 'B. Sagna': 674,
 'Nani': 177,
 'Pepe Reina': 813,
 'Lucas Leiva': 2011,
 'D. Santon': 464,
 'Felipe Anderson': 609,
 'Borja Valero': 1967,
 'Iago Falqu\\u00e9': 1236,
 'Rafael Tol\\u00f3i': 1532,
 'Sandro': 687,
 'A. Kolarov': 2043,
 'E. D\\u017eeko': 704,
 'B. Gyamfi': 156,
 'A. Taarabt': 718,
 'D. Laxalt': 1065,
 'N. Kalini\\u0107': 312,
 'S. Miangue': 301,
 'M. Icardi': 419,
 'D. Biraschi': 899,
 'V. Parigini': 304,
 'A. Benali': 368,
 'Rog\\u00e9rio': 365,
 'Lee Seung-Woo': 155,
 'Gil Dias': 443,
 'Allan': 1746,
 'D. Kownacki': 225,
 'A. Nalini': 488,
 'Suso': 1461,
 'M. Trotta': 699,
 'Vitor Hugo': 614,
 'M. Politano': 955,
 '\\u00c1lex Berenguer': 401,
 'Bastos': 832,
 'R. Gagliardini': 1349,
 'Gerson': 495,
 'A. Masina': 1273,
 'D. Berardi': 848,
 'Everton Luiz': 220,
 'A. Diawara': 696,
 'C. Molinaro': 824,
 'I. Peri\\u0161i\\u0107': 1512,
 'B. H\\u00f6wedes': 208,
 'T. Rinc\\u00f3n': 1404,
 'J. Sala': 647,
 'R. Rodr\\u00edguez': 1823,
 'M. Mand\\u017euki\\u0107': 887,
 'A. Romagnoli': 1429,
 'F. Mattiello': 692,
 'H. \\u00c7alhano\\u011flu': 1177,
 'Luiz Felipe': 661,
 'D. Verde': 610,
 'S. Bastien': 462,
 'E. Goldaniga': 344,
 'F. Bernardeschi': 358,
 'S. Sensi': 476,
 'R. Mandragora': 1256,
 'L. Krej\\u010d\\u00ed': 152,
 'M. Benassi': 1275,
 'A. Petagna': 476,
 'M. Kean': 179,
 'A. Ajeti': 366,
 'D. Pavlovic': 323,
 'R. Freuler': 2056,
 'B. Djimsiti': 1533,
 'S. Widmer': 786,
 'A. Ioni\\u0163\\u0103': 875,
 'R. de Paul': 958,
 'G. Lapadula': 204,
 'S. Crist\\u00f3foro': 184,
 'Jo\\u00e3o Pedro': 457,
 'M. Olivera': 237,
 'V. Eysseric': 367,
 'F. Helander': 1166,
 'V. Chiriche\\u0219': 545,
 'M. Vecino': 1537,
 'Pedro Pereira': 166,
 'E. Berisha': 473,
 'H. Hateboer': 1158,
 'O. Hiljemark': 573,
 'M. Rohd\\u00e9n': 481,
 'C. Falletti': 154,
 'A. Murgia': 361,
 'G. Mancini': 312,
 'M. Bani': 607,
 'Samir': 1201,
 'A. To\\u0219ca': 709,
 'Albiol': 2390,
 'J. El Yamiq': 169,
 'I. Abate': 652,
 'M. De Sciglio': 702,
 'S. Calvano': 225,
 'B. Cristante': 1492,
 'M. Valoti': 524,
 'S. El Shaarawy': 946,
 'D. De Rossi': 1219,
 'M. Pjani\\u0107': 1965,
 'V. Verre': 288,
 'F. Viviani': 1476,
 'F. Borini': 733,
 'G. Buffon': 392,
 'A. Barzagli': 1180,
 'L. Bonucci': 1966,
 'M. C\\u00e1ceres': 676,
 'G. Chiellini': 1707,
 'E. Giaccherini': 437,
 'S. Padoin': 1117,
 'A. Matri': 186,
 'F. Quagliarella': 599,
 'A. Mirante': 727,
 'M. Gobbi': 1033,
 'S. Floccari': 222,
 'D. Faraoni': 732,
 'Juan Jesus': 1128,
 'A. Ranocchia': 305,
 'R. \\u00c1lvarez': 157,
 'J. Obi': 538,
 'L. Crisetig': 339,
 'A. Poli': 1203,
 'A. Bizzarri': 636,
 'A. Candreva': 1455,
 'S. Luli\\u0107': 1254,
 'S. Handanovi\\u010d': 702,
 'M. Benatia': 1338,
 'Danilo': 1315,
 'Jo\\u00e3o Miranda': 1582,
 'K. Asamoah': 1134,
 'A. Costa': 653,
 'Eder': 233,
 'C. Puggioni': 484,
 'S. Sorrentino': 612,
 'F. Acerbi': 1514,
 'M. Andreolli': 814,
 'D. Dainelli': 569,
 'L. Rigoni': 526,
 'A. Paloschi': 360,
 'C. Th\\u00e9r\\u00e9au': 513,
 'G. Ram\\u00edrez': 942,
 'D. Zapata': 503,
 'B. Salamon': 849,
 'N. Tomovi\\u0107': 1050,
 'A. Bertolacci': 1536,
 'J. Cuadrado': 811,
 'L. Castro': 998,
 'G. Pezzella': 360,
 'M. Destro': 257,
 'M. Silvestre': 2125,
 'A. Acquah': 467,
 'A. Barberis': 968,
 '\\u00c9. Barreto': 1042,
 'J. Ili\\u010di\\u0107': 1038,
 'J. Palomino': 1051,
 'A. Consigli': 608,
 'A. Masiello': 1815,
 'G. Bonaventura': 1392,
 'N. Murru': 668,
 'D. Dessena': 226,
 'R. Nainggolan': 1272,
 'P. Schiattarella': 1086,
 'L. De Silvestri': 1334,
 'Felipe': 1206,
 'R\\u00f4mulo': 1349,
 'V. Behrami': 478,
 'A. Ljaji\\u0107': 1114,
 'R. Montolivo': 674,
 'A. Cerci': 412,
 'Ryder Matos': 294,
 'E. Hysaj': 2273,
 'V. Regini': 592,
 'L. Tonelli': 210,
 'M. Valdifiori': 353,
 'R. Saponara': 409,
 'N. Spolli': 621,
 'A. G\\u00f3mez': 1273,
 "D. D'Ambrosio": 1744,
 'A. Gomis': 422,
 'M. Antenucci': 596,
 'R. Meggiorini': 164,
 'S. Verdi': 1090,
 'N. Rigoni': 399,
 'B. D\\u017eemaili': 467,
 'M. Ham\\u0161\\u00edk': 2489,
 'C. Maggio': 337,
 'G. Pandev': 571,
 'A. Belotti': 514,
 'E. Moretti': 1002,
 'M. Sampirisi': 869,
 'S. Sturaro': 253,
 'V. Birsa': 1282,
 'R. Palacio': 622,
 'Nicolas': 834,
 'Jorginho': 3118,
 "M. D'Alessandro": 278,
 'M. Parolo': 1166,
 'M. Capuano': 900,
 'S. Romagnoli': 276,
 'G. Caprari': 619,
 'C. Immobile': 746,
 'L. Insigne': 2439,
 'A. Brignoli': 313,
 'S. Omeonga': 323,
 'R. Inglese': 471,
 'M. Perin': 711,
 'A. Cordaz': 592,
 'D. Baselli': 1265,
 'F. Ceccherini': 1214,
 'I. Radovanovi\\u0107': 1635,
 'F. Ricci': 400,
 'F. Cacciatore': 1623,
 'J. Kurti\\u010d': 882,
 'L. Ceppitelli': 1112,
 'A. Stoian': 994,
 'L. Del Pinto': 389,
 'F. Romagna': 810,
 'F. Chiesa': 966,
 'C. Biraghi': 1303,
 'D. Falcinelli': 289,
 'M. Sau': 358,
 'L. Antei': 346,
 'A. Galabinov': 295,
 'A. Caracciolo': 967,
 'M. B\\u00fcchel': 777,
 'M\\u00e1rio Rui': 1859,
 'P. Iemmello': 195,
 'I. Cofie': 287,
 'F. Magnanelli': 1508,
 'S. Missiroli': 1104,
 'M. Rog': 262,
 'B. Martella': 1061,
 'G. Ferrari': 1641,
 'L. Memushaj': 610,
 'C. \\u00dcnder': 405,
 "I. M'baye": 811,
 'Daniel Bessa': 837,
 'A. Duncan': 722,
 'V. Belec': 269,
 'F. Depaoli': 320,
 'F. Lucioni': 265,
 'G. Angella': 468,
 'N. Viola': 1124,
 'A. Ragusa': 221,
 'F. Pisacane': 986,
 'J. Andersen': 386,
 'A. Izzo': 781,
 'L. Pavoletti': 612,
 'F. Kessi\\u00e9': 1716,
 'B. Petkovi\\u0107': 318,
 'J. Stryger Larsen': 1127,
 'Diego Farias': 515,
 'G. Donnarumma': 821,
 'P. Cutrone': 293,
 'L. Rizzo': 191,
 'M. Fossati': 651,
 'P. Dybala': 1219,
 'M. Sportiello': 636,
 'P. Farag\\u00f2': 950,
 'C. Adjapong': 436,
 'A. Meret': 204,
 'N. Barella': 1485,
 'M. Locatelli': 526,
 'M. Coda': 294,
 'T. Letschert': 179,
 'E. Pulgar': 1627,
 'G. Letizia': 1065,
 'M. Pucciarelli': 368,
 '\\u015e. Radu': 1609,
 'D. Basta': 325,
 'Y. Karamoh': 231,
 'M. Gonalons': 722,
 'S. Sirigu': 813,
 'B. Matuidi': 1331,
 'J. Veretout': 1977,
 "N. N'Koulou": 1569,
 'P. Hetemaj': 1123,
 'K. Koulibaly': 2860,
 'F. Ghoulam': 812,
 'T. Heurtaux': 523,
 'M. Niang': 443,
 'B. Dabo': 301,
 'Bruno Gaspar': 450,
 'C. Lombardi': 297,
 'L. Spinazzola': 832,
 'L. Rossettini': 966,
 'S. Souprayen': 693,
 'Pol Lirola': 753,
 'M. Brozovi\\u0107': 1640,
 'F. Peluso': 901,
 'L. Cigarini': 1386,
 'J. Jankto': 1059,
 'G. Gonz\\u00e1lez': 933,
 'D. Cataldi': 1260,
 'C. Lykogiannis': 195,
 'V. Torosidis': 330,
 'K. Manolas': 1295,
 'D. Calabria': 937,
 'K. Bonifazi': 166,
 'M. Caldara': 946,
 'E. Brignola': 456,
 'Jo\\u00e3o Cancelo': 1346,
 'D. Lazovi\\u0107': 568,
 'M. Lazzari': 1182,
 'D. Praet': 1431,
 'F. Di Francesco': 424,
 'L. Mazzitelli': 409,
 'M. Lemos': 224,
 'Wallace': 559,
 'N. Milenkovi\\u0107': 683,
 'S. De Maio': 1061,
 'A. Maru\\u0161i\\u0107': 961,
 'G. Di Chiara': 534,
 'A. Danzi': 186}

In [22]:
# removing from events_england the players removed before

for i in range(len(players)):
    if players.loc[i, 'shortName'] not in pass_att.keys():
        players = players.drop(i)

players = players.reset_index(drop=True)

# creating a dataframe of events without events of removed players 

for i in range(len(players)):
    if events_england.loc[i, 'playerId'] not in players['wyId']:
        events_england = events_england.drop(i)

events_england = events_england.reset_index(drop=True)

In [23]:
# creating a dataframe with only the completed passes

d = {'id': 1801}  #  tag 'completed pass'

# creating a new column('status') which says if the pass is completed or not
l_tags = events_england['tags'] 
status = []
for i in range(len(l_tags)):

    if d not in l_tags[i]:
        status.append('no')
    else:
        status.append('completed')
        
# add the new column to events dataframe
events_england['status'] = status  

del events_england['tags']

# taking only the completed passes
com_pass = events_england[events_england['status'] == 'completed']

In [24]:
# creating a dict with keys(player), value(number of completed passes)
pass_com = {} 

for index1 in range(len(players)):
    count1 = com_pass[com_pass['playerId'] == players.loc[index1, 'wyId']] # all completed passes of one player
    
    pass_com[players.loc[index1, 'shortName']] = len(count1) # value of that player = number of completed passes

# creating a dict with completed/attempted

for key, value in pass_com.items():
    
# change the values of pass_att with the ratio of completed / attempted
    pass_att[key] = (pass_com[key]/pass_att[key])*100  

pass_ratio = pass_att 

pass_ratio = sorted(pass_ratio.items(), key=lambda x: x[1], reverse=True) # sorting by value

print(pass_ratio[:10]) # print the 10 most accurate players

[('L. Tonelli', 96.19047619047619), ('A. Diawara', 93.96551724137932), ('A. Barzagli', 93.89830508474576), ('D. Rugani', 93.46938775510203), ('M. Benatia', 93.27354260089686), ('A. Danzi', 93.01075268817203), ('V. Chiriche\\u0219', 92.84403669724772), ('B. H\\u00f6wedes', 92.78846153846155), ('S. de Vrij', 92.76708692767087), ('S. Handanovi\\u010d', 92.5925925925926)]